
<div class="cookie-container">

    <p>
        Ce site utilise des cookies pour améliorer  votre expérience.
        Pour plus d'informations sur les cookies que nous utilisons, lisez les
        <a href="{{ path('app_confidentialite') }}">Mentions légales</a> et
        la <a href="{{ path('app_confidentialite') }}">Politique de confidentialité</a>
    </p>

    <button class="cookie-btn">
        Okay
    </button>

</div>