{% extends 'layouts/base.html.twig' %}

{% block title 'Edit article' ~ blog.id %}

{% block body %}

    <section class="edit-blog">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <h1>Modifier l'article {{ blog.id }}</h1>
            {{ include('blogs/_form.html.twig', {'submitButtonText': 'Modifier article'}) }}
        </div>
    </div>

    </section>
{% endblock %}
