   {% extends 'layouts/base.html.twig'%}

{% block title 'Gérer les Leçons' %}

{% block body %}


    <p></p>
<section class="admin-page">

    <div class="container">

        <div class="button-blog">
            <a href="{{ path('app_admin_blog') }}"><button type="button" class="btn btn-outline-secondary btn-lg">ADMIN BLOG</button></a>
        </div>
        <div class="button-tarifs">
            <a href="{{ path('app_admin_tarif') }}"><button type="button" class="btn btn-outline-info btn-lg">ADMIN TARIFS</button></a>

        </div>

    </div>


</section>






{% endblock %}
