{% extends 'layouts/base.html.twig'%}

{% block title 'Gérer les Leçons' %}

{% block body %}


    <p></p>


    <a href="{{ path ('app_admin_blog') }}">admin blog</a>
    <a href="{{ path ('app_admin_tarif') }}">admin tarifs</a>




{% endblock %}
