
{% extends 'layouts/base.html.twig' %}

{% block title 'Contact' %}

{% block body %}

    <section class="contact mt-5">

    <div class="contact-jumbotron">
        <div class="container">
            <div class="jumbotron text-center">
                <h1 class="contact-title">CONTACT</h1>
            </div>
        </div>
    </div>



    <article class="blog bg-white rounded shadow py-4">
        <div class="mw-100  rounded-top overflow-hidden">
            <h2 class=" pl-3 pt-1 text-center">
                N'hésitez pas à nous contacter pour plus d'informations
            </h2>
        <div class="coordonnees text-center h5">
            <p class=""><strong class="">Email :</strong> katconseil@outlook.fr | <span>Tel :</span> +33 (0) 6 33 44 72 21 </p>
            <p> <strong>Adresse :</strong> 2 rue André Maginet 70000 VESOUL</p>
        </div>
            {# <div class="media">
                <ul>
                    <li><a href="#"  target="_blank"><i class="fab fa-facebook-square"></i></a></li>
                    <li><a href="#"  target="_blank"><i class="fab fa-instagram-square"></i></a></li>
                    <li><a href="#"  target="_blank"><i class="fab fa-linkedin"></i></a></li>
                </ul>
            </div> #}

        </div>

    </article>





        {# <div id="map"></div> #}

    </section>
{% endblock %}
