
{% extends 'layouts/base.html.twig' %}

{% block title 'Contact' %}

{% block body %}

    <section class="contact">

    <div class="jumbotron">
        <div class="intro">
            <h1 class="contact-title">CONTACT</h1>

        </div>
    </div>

<div class=" contact-box mt-5">
<div>
    <article class="blog bg-white rounded shadow">
        <div class="mw-100  rounded-top overflow-hidden">
            <h2 class=" pl-3 pt-3 text-center">
                N'hésitez pas à nous contactez pour plus d'informations
            </h2>

            <p><span>Email :</span> ake@gmail.com | <span>Tel :</span> +33 (0) 6 33 44 72 21 </p>

            <div class="media">
                <ul>
                    <li><a href="#"  target="_blank"><i class="fab fa-facebook-square"></i></a></li>
                    <li><a href="#"  target="_blank"><i class="fab fa-instagram-square"></i></a></li>
                    <li><a href="#"  target="_blank"><i class="fab fa-linkedin"></i></a></li>
                </ul>
            </div>
        </div>

    </article>

</div>

    </div>

        {# <div id="map"></div> #}

    </section>
{% endblock %}
