
{% extends 'layouts/base.html.twig' %}

{% block title 'Mon expertise' %}

{% block body %}

    <div class="jumbotron ">
        <div class="intro">
            <h1 class="exp-title">CONTACT</h1>

        </div>
    </div>

<section class="mt-5 w-100 h-75">
<div>
    <article class="blog bg-white rounded shadow">
        <div class="mw-100  rounded-top overflow-hidden">

        </div>
        <h2 class="h5 pl-3 pt-3 text-center">
            N'hésitez pas à nous contactez pour plus d'informations
        </h2>

        <ul>
            <li>Adresse mail</li>
            <li>Numéros de téléphone</li>

        </ul>
    </article>

</div>

    </section>
{% endblock %}
